<p class="test">home works!</p>

<div>
  <h2 class="hometitle">Welcome to Furijat Charity Web Application</h2>
  <p class="homesubtitle">Furijat Charity Application provides streamlined services to connect donators, with debtors, with charities</p>
</div>


<div class="newssection">
  <div class="newsgrid">
    <div class="news">
      <div *ngFor="let news of News" class="newscard">
        <img />
        <h1>{{news.title}}</h1>
        <h2>{{news.subtitle}}</h2>
        <p>{{news.body}}</p>
      </div>
    </div>
  </div>
</div>
