<a [routerLink]="['/login']">
  {{Login}}
</a>
<a [routerLink]="['/']">
  Home
</a>
<a [routerLink]="['/Case']">
  Cases page
</a>
<a [routerLink]="['/charitylist']">
  Charity List
</a>
<a [routerLink]="['/register']">
  Register
</a>
<a [routerLink]="['/addcase']">
  Add Case
</a>
<a [routerLink]="['/addcharity']">
  Add Charity
</a>
<a [routerLink]="['/validatecase']">
  Validate Cases
</a>
<!--
<a [routerLink]="['/contactform']">
  ContactForm (Frontend Demo)
</a>
  -->
<a [routerLink]="['/contactformbackend']">
  ContactForm (Backend)
</a>

<router-outlet></router-outlet>
