@font-face {
  font-family: Lily;
  src: url(../assets/fonts/LilyScriptOne-Regular.ttf);
}
@font-face {
  font-family: Oswald;
  src: url(../assets/fonts/Oswald-VariableFont_wght.ttf);
}
@font-face {
  font-family: Raleway;
  src: url(../assets/fonts/Raleway-VariableFont_wght.ttf);
}
