<div class="container">
  <h2 class="text-center">Cases Donated to</h2>

  <table class="styled-table m-auto mb-3">
    <thead class="text-center">
      <tr>
        <th scope="col">Case Name</th>
        <th scope="col">Charity Name</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let case of DonatedCases">
        <td>{{ DonatedCases.name }}</td>
        <td>{{ DonatedCases.charity.name }}</td>
        <td>{{ DonatedCases.Amount }}</td>
      </tr>
      <tr></tr>
    </tbody>
  </table>
  </div>
