

<h2>Your Donation will be forwarded to the respective Charity of this case</h2>

<h2>Charity Of This Case</h2>
<h3>{{charity.name}}</h3>

<div class="max-vh-100 d-flex align-items-center justify-content-center mt-3">
  <table class="styled-table">
    <thead>
      <tr class="text-center">
        <th scope="col">Case ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Description</th>
        <th scope="col">Address</th>
        <th scope="col">Case Current Amount</th>
        <th scope="col">Case Total Amount Needed</th>
      </tr>
    </thead>
    <tbody>
      <tr class="active-row text-center" *ngFor="let cases of case">
        <td>{{ case.id }}</td>
        <td>{{ case.firstName }}</td>
        <td>{{ case.lastName }}</td>
        <td>{{ case.description }}</td>
        <td>{{ case.address }}</td>
        <td>{{ case.currentAmount }}</td>
        <td>{{ case.totalAmount }}</td>
        <td>{{ case.status }}</td>
      </tr>
    </tbody>
  </table>
</div>

<h2></h2>
<input type="number" [(ngModel)]="donateamount" />

<!-- <h2>amount that is about to be donated</h2> -->
<p>amount is {{ donateamount }}</p>


<div class="paymentform">
  <div class="form-check form-check-inline">
    <input [(ngModel)]="paymentmethod"
           class="form-check-input"
           type="radio"
           name="paymentmethod"
           id="paymentmethod"
           value="VISA" />
    <label class="form-check-label" for="paymentmethod">VISA</label>
  </div>
  <!-- fawry method -->
  <div class="form-check form-check-inline">
    <input [(ngModel)]="paymentmethod"
           class="form-check-input"
           type="radio"
           name="paymentmethod"
           id="paymentmethod"
           value="Fawry" />
    <label class="form-check-label" for="paymentmethod">Fawry</label>
  </div>

  <!-- <h2>amount that is about to be donated</h2> -->

  <div [ngSwitch]="paymentmethod">
    <div *ngSwitchCase="'VISA'" class="VISAPayment">
      <h3>Card Number</h3>
      <input type="number" [(ngModel)]="cardnumber" />
      <h3>CCV</h3>
      <input type="number" [(ngModel)]="cardccv" />
    </div>

    <div *ngSwitchCase="'Fawry'" class="FawryPayment">
      <h3>Fawry Number</h3>
      <input type="number" [(ngModel)]="fawrynumber" />
    </div>
  </div>
</div>

<!--the click function will retrieve inputted donation info-->
<button class="btn btn-info" (click)="Donate()">Donate</button>
<button class="btn btn-danger ms-3" (click)="Close()">Close</button>
