.Searchbar {
    display:flex;
    border-style: solid;
    border-block-width: 5px;
    border-block-color: crimson;
    width: 300px;
    border-radius: 50px;

}

.Searchinput {
  margin: 4px;
  flex: auto;
  border-radius: 60px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  outline: none;
}

.Searchbutton {
    margin: 2px;
    border-radius: 60px;

}
