<div class="searchbar mt-5 py-5 d-flex justify-content-center">
  <input
    type="search"
    class="searchinput rounded"
    placeholder="Search Case Name"
    [(ngModel)]="searchText"
  />
</div>
<div class="max-vh-100 d-flex align-items-center justify-content-center mt-3">
  <table class="styled-table">
    <thead>
      <tr class="text-center">
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Description</th>
        <th scope="col">Address</th>
        <th scope="col">Current Amount</th>
        <th scope="col">Total Amount</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Charity</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="tablerow text-center"
        *ngFor="
          let case of Cases
            | searchFilter : searchText
            | filterbystatus : statusfilter
            | paginate : { itemsPerPage: 3, currentPage: p }
        "
      >
        <td>{{ case.firstName }}</td>
        <td>{{ case.lastName }}</td>
        <td>{{ case.description }}</td>
        <td>{{ case.address }}</td>
        <td>{{ case.currentAmount }}</td>
        <td>{{ case.totalAmount }}</td>
        <td>{{ case.charity }}</td>
        <td>{{ case.phone }}</td>
        <td></td>
        <td>
          <button class="btn btn-outline-success" (click)="Donate(case.id)">
            Donate
          </button>
        </td>
      </tr>

      <!-- <tr class="text-center">
        <td>Hager</td>
        <td>Mohamed</td>
        <td>Lorem ipsum dolor sit amet.</td>
        <td>al mansoura 25 glaa street</td>
        <td>150000</td>
        <td>33000</td>
        <td>01023569845</td>
        <td>rsala</td>
        <td>approved</td>
      </tr>
      <tr class="text-center">
        <td>asmaa</td>
        <td>ahmed</td>
        <td>Lorem ipsum dolor sit ipsum</td>
        <td>cairo naser city</td>
        <td>25000</td>
        <td>10000</td>
        <td>01056589465</td>
        <td>rsol elkair</td>
        <td>rejected</td>
      </tr>
      <tr class="text-center">
        <td>aliaa</td>
        <td>amr</td>
        <td>consectetur adipisicing elit</td>
        <td>elmahalaa elkobra - elbander</td>
        <td>36000</td>
        <td>14000</td>
        <td>0106356897</td>
        <td>elorman</td>
        <td>approved</td>
      </tr> -->
      <tr></tr>
    </tbody>
  </table>
</div>

<pagination-controls (pageChange)="p = $event" class="controls">
</pagination-controls>
