<div class="container d-flex justify-content-center flex-column pt-3">
  <form [formGroup]="ContactForm" (ngSubmit)="submit(contactmessage)">
    <div class="row">
      <div class="form-floating mb-3 col-lg-12 col-md-6">
        <input
          formControlName="name"
          type="text "
          class="form-control"
          id="name"
          placeholder="charity name"
          required
        />
        <label for="name" class="ps-4">Your Name </label>
      </div>

      <div class="form-floating mb-3 col-lg-12 col-md-6 pb-2">
        <input
          formControlName="email"
          type="email"
          class="form-control"
          id="email"
          placeholder="name@example.com"
        />
        <label for="email" class="ps-4">Your Email </label>
      </div>

      <div class="form-floating col-md-6 col-lg-12 text-lg-center w-50 m-auto">
        <textarea
          formControlName="message"
          class="form-control"
          id="floatingTextarea2"
          placeholder="type your message"
          style="height: 100px"
        ></textarea>
        <label for="floatingTextarea2" class="ps-4">Type your message</label>
      </div>

      <!-- <div class="">
        <textarea
          formControlName="message"
          placeholder="type your message"
          cols="30"
          rows="4"
          class="form-control"
        ></textarea>
      </div> -->

      <input
        type="submit"
        class="btn btn-outline-success mt-2"
        value="Submit Mail"
      />
    </div>
  </form>
</div>
<!--


  <div>
    Select Charity to contact
    <select formControlName="charityemail">
      <option *ngFor="let charity of charity" [ngValue]="charity.email">{{charity.name}}</option>
    </select>
  </div>




  <div>
    Phone Number:
    <input formControlName="phonenumber" placeholder="phone number" type="text" />
  </div>


<form action="https://formspree.io/f/xeqwpdlk" method="POST">

  <label>
    Your email:
    <input type="email" name="email">
  </label>

  <label>
    Your message:
    <textarea name="message"></textarea>
  </label>

  <button type="submit" class="sendEmail()">Send</button>

</form>
  -->
