
<button></button>
<h2>Donations Requests</h2>
<div class="max-vh-100 d-flex align-items-center justify-content-center mt-3">
  <table class="styled-table">
    <thead>
      <tr class="text-center">
        <th scope="col">Donation Requests</th>
      </tr>
    </thead>
    <tbody>
      <tr class="tablerow text-center"
          *ngFor="
          let donation of Donations
            | paginate : { itemsPerPage: 5, currentPage: p | filterpendingdonationsbycaseid: caseid  | filterbystatus: donationstatus  }">
        <td>{{ donation }}</td>
        <td>
          <button (click)="ApproveDonation(donation)">Approve</button>
        </td>
        <td>
          <button (click)="RejectDonation(donation)">Reject</button>
        </td>
      </tr>
      <tr></tr>
    </tbody>
  </table>
</div>
