<p>edit-data works!</p>

<div *ngIf="edittype === 'charity'">
  <h2>Edit Case {{element}}</h2>
  <input [(ngModel)]="" />
  <input [(ngModel)]="" />
  <input [(ngModel)]="" />
  <input [(ngModel)]="" />
  <input [(ngModel)]="" />
  <input [(ngModel)]="" />
</div>

<div *ngIf="edittype === 'case'">
  <h2>Edit {{x}}</h2>
  <input [(ngModel)]="" />
  <input [(ngModel)]="" />
  <input [(ngModel)]="" />
  <input [(ngModel)]="" />
  <input [(ngModel)]="" />
  <input [(ngModel)]="" />
  <button (click)="">Submit</button>
</div>

<div *ngIf="edittype === 'user'">
  <h2>Edit {{x}}</h2>
  <input [(ngModel)]="" />
  <input [(ngModel)]="" />
  <input [(ngModel)]="" />
  <input [(ngModel)]="" />
  <input [(ngModel)]="" />
  <input [(ngModel)]="" />
</div>

<div *ngIf="edittype === 'creditor'">
  <h2>Edit {{x}}</h2>
  <input [(ngModel)]="" />
  <input [(ngModel)]="" />
  <input [(ngModel)]="" />
  <input [(ngModel)]="" />
  <input [(ngModel)]="" />
  <input [(ngModel)]="" />
</div>

<div *ngI="edittype === 'donator'">
  <h2>Edit {{x}}</h2>
  <input [(ngModel)]="" />
  <input [(ngModel)]="" />
  <input [(ngModel)]="" />
  <input [(ngModel)]="" />
  <input [(ngModel)]="" />
  <input [(ngModel)]="" />
</div>
