<div class="block-31 position-relative">
  <div class="owl-carousel loop-block-31">
    <div class="block-30 block-30-sm item" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
          <div class="col-md-7">
            <p class="text-center pb-3 fs-1 text-white">
              YOUR CHANGE CAN MAKE A CHANGE
            </p>

            <a
              href="../../../assets/video/hd.mp4"
              class="text-decoration-none ftco-play-video d-flex justify-content-center align-items-center"
            >
              <span class="play-icon-wrap ms-4"
                ><span><i class="fa-solid fa-play"></i></span
              ></span>
              <span class="fw-bold ps-3 word">Watch Video</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="Donators text-center text-warning">
  <h5 class="pt-4">Donators</h5>
  <p class="text-black-50 fs-2">OUR DONORS AROUND THE WORLD</p>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div>
          <img
            class="img-fluid"
            src="../../../assets/images/bedaya.png"
            alt="bedaya"
          />
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div>
          <img
            class="img-fluid"
            src="../../../assets/images/ahl misr.jpg"
            alt="ahl misr"
          />
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div>
          <img
            class="img-fluid"
            src="../../../assets/images/rsol elkair.png"
            alt="rsol elkair"
          />
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div>
          <img
            class="img-fluid"
            src="../../../assets/images/Resala.png"
            alt="Resala"
          />
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div>
          <img
            class="img-fluid"
            src="../../../assets/images/abkariat.png"
            alt="abkariat"
          />
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div>
          <img
            class="img-fluid mt-lg-5"
            src="../../../assets/images/download-removebg-preview.png"
            alt="elorman"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about-us text-white py-2 mb-3">
  <div class="container my-5">
    <div class="row mt-5">
      <div class="col-md-6 pt-lg-5 mt-lg-5">
        <h5 class="">About Us</h5>
        <h4 class="w-75 my-3">
          GREAT FUTURES ARE BUILT WITH A SMALL CHARITY, LET'S GO!
        </h4>
        <p class="w-75 text-secondary">
          The practice of charity means the voluntary giving of help to those in
          need, as a humanitarian act. There are a number of philosophies about
          charity, often associated with religion. Effective altruism is the use
          of evidence and reasoning to determine the most effective ways to help
          others.
        </p>

        <button class="btn mt-3 col-sm-6 mb-sm-3" [routerLink]="['/about']">
          Discover More
        </button>
      </div>
      <div class="col-md-6">
        <img
          src="../../../assets/images/Who-gives-most-to-charity_Resource_image-1024x1024.jpg"
          class="w-75 rounded pt-md-3"
          alt="donate"
        />
      </div>
    </div>
  </div>
</section>
