.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 1vw;
  margin-right: auto;
}

.items {
  border-radius: 500px;
  background-color: red;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 50px;
  padding: 25px;
}

.furijatnavlogo {
  margin-left: 10px;
  height: 25px;
}
