<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['']"
      ><img src="../../../assets/images/FurijatWhite.png" alt="logo"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Home</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
             role="button"
             data-bs-toggle="dropdown"
             aria-expanded="false"
             [routerLink]="['/case']">
            Cases
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item text-bg-dark"
                 [routerLink]="['/addcase']"
                 routerLinkActive="active">add cases</a>
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
             role="button"
             data-bs-toggle="dropdown"
             aria-expanded="false"
             [routerLink]="['/charitylist']">
            charitylist
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item text-bg-dark"
                 [routerLink]="['/addcharity']"
                 routerLinkActive="active">add charity</a>
            </li>
          </ul>
        </li>

        <!-- <li class="nav-item">
    <a
      [routerLink]="['/charitylist']"
      routerLinkActive="active"
      class="nav-link"
      >charitylist</a
    >
  </li> -->

        <li class="nav-item">
          <a (click)="CheckLogin()"
             routerLinkActive="active"
             class="nav-link">Profile</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/about']"
             routerLinkActive="active"
             class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/contactform']"
             routerLinkActive="active"
             class="nav-link">
            Contact
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['register']" class="nav-link">Register</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['login']" class="nav-link">Login</a>
        </li>
        <li *ngIf="signoutvisible" class="nav-item signout">
          <a (click)="Signout()" class="nav-link">SignOut</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
