<div class="container">
  <table class="styled-table m-auto my-4">
    <thead class="text-center">
      <tr>
        <th scope="col">User Name</th>
        <th scope="col">User Type</th>
        <th *ngIf="usertype === 'case'" scope="col">User Type</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr>
        <td>{{ username }}</td>
        <td>{{ usertype }}</td>
        <td *ngIf="usertype === 'case'">{{case.status}}</td>
        <td *ngIf="usertype === 'case'">{{case.status}}</td>
      </tr>
      <tr></tr>
    </tbody>
  </table>
</div>


<div [ngSwitch]="usertype">
  <div *ngSwitchCase="'user'">
    <button class="btn custom-btn btn-2 btn-lg m-auto" (click)="RegisterAsCharity()">Register as Charity</button>
    <button class="btn custom-btn btn-2 btn-lg m-auto" (click)="RegisterAsCase()">Register as Debtor</button>
    <button class="btn custom-btn btn-2 btn-lg m-auto" (click)="RegisterAsDonator()">Register as Donator</button>

  </div>
  <app-adminprofile *ngSwitchCase="'admin'"></app-adminprofile>
  <app-charityprofile *ngSwitchCase="'charity'"></app-charityprofile>
  <app-debtorprofile *ngSwitchCase="'case'"></app-debtorprofile>
  <app-donatorprofile *ngSwitchCase="'donator'"></app-donatorprofile>
  <app-creditorprofile *ngSwitchCase="'creditor'"></app-creditorprofile>
</div>

<!--
<div>
  <app-file-upload></app-file-upload>
</div>
  -->

<pagination-controls (pageChange)="p = $event" class="controls"> </pagination-controls>

