<p>login works!</p>

<div class="logincontainer">
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <label>Email</label>
    <input type="email" [(ngModel)]="credentials.email"
           class="form-control" placeholder="E-Mail" required>
    <label>Password</label>
    <input formControlName="password" [ngClass]="{ 'is-invalid': submitted && formData.password.errors }" />
    <div *ngIf="submitted && formData.password.errors"></div>
    <div *ngIf="formData.password.errors.required">Password is required</div>
<button>Submit</button>
  </form>
</div>


