
<button>Generate PDF Report</button>
<button>Message</button>

<!-- Charity Validate Requests-->
<div *ngIf="usertype === 'charity'" class="max-vh-100 d-flex align-items-center justify-content-center mt-3">
  <table class="styled-table">
    <thead>
      <tr class="text-center">
        <th scope="col">Case ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Description</th>
        <th scope="col">Address</th>
        <th scope="col">Current Amount</th>
        <th scope="col">Total Amount</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr class="tablerow text-center"
          *ngFor="
          let case of Cases
            | paginate : { itemsPerPage: 5, currentPage: p }
        ">
        <td>{{ case.id }}</td>
        <td>{{ case.firstName }}</td>
        <td>{{ case.lastName }}</td>
        <td>{{ case.description }}</td>
        <td>{{ case.address }}</td>
        <td>{{ case.currentAmount }}</td>
        <td>{{ case.totalAmount }}</td>
        <td>{{ case.phone }}</td>
        <td>{{ case.status }}</td>
        <td></td>
        <td>
          <button (click)="">Approve</button>
        </td>
        <td>
          <button (click)="">Reject</button>
        </td>
      </tr>
      <tr></tr>
    </tbody>
  </table>
</div>

<!-- Charity Cases-->
<h2>Cases in Charity</h2>
<div *ngIf="usertype === 'charity'" class="max-vh-100 d-flex align-items-center justify-content-center mt-3">
  <table class="styled-table">
    <thead>
      <tr class="text-center">
        <th scope="col">Case ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Description</th>
        <th scope="col">Address</th>
        <th scope="col">Current Amount</th>
        <th scope="col">Total Amount</th>
        <th scope="col">Phone</th>
        <th scope="col">Charity</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr class="tablerow text-center"
          *ngFor="
          let case of Cases
            | paginate : { itemsPerPage: 5, currentPage: p }
        ">
        <td>{{ case.id }}</td>
        <td>{{ case.firstName }}</td>
        <td>{{ case.lastName }}</td>
        <td>{{ case.description }}</td>
        <td>{{ case.address }}</td>
        <td>{{ case.currentAmount }}</td>
        <td>{{ case.totalAmount }}</td>
        <td>{{ case.phone }}</td>
        <td>{{ case.charity.id }}</td>
        <td>{{ case.status }}</td>
        <td></td>
        <td>
          <button (click)="">Provide Assistance</button>
        </td>
        <td>
          <button (click)="">Delete</button>
        </td>
      </tr>
      <tr></tr>
    </tbody>
  </table>
</div>
