<div class="container">
  <div class="max-vh-100 d-flex align-items-center justify-content-center mt-3">
    <table class="table styled-table">
      <thead>
        <tr class="text-center">
          <th scope="col">Charity ID</th>
          <th scope="col">Charity Name</th>
          <th scope="col">Charity Description</th>
          <th scope="col">Donate Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr class="active-row text-center" *ngFor="let charity of charity">
          <td>{{ charity.id }}</td>
          <td>{{ charity.name }}</td>
          <td>{{ charity.description }}</td>
          <td>
            <input type="number" class="form-control mb-2 w-50" />
          </td>
        </tr>
      </tbody>
    </table>
    <h2></h2>
    <!-- <input type="number" [(ngModel)]="donateamount" /> -->
  </div>

  <!--This Part is test template for payment method-->
  <!-- visa method -->
  <div class="paymentform">
    <div class="form-check form-check-inline">
      <input
        [(ngModel)]="paymentmethod"
        class="form-check-input"
        type="radio"
        name="paymentmethod"
        id="paymentmethod"
        value="VISA"
      />
      <label class="form-check-label" for="paymentmethod">VISA</label>
    </div>
    <!-- fawry method -->
    <div class="form-check form-check-inline">
      <input
        [(ngModel)]="paymentmethod"
        class="form-check-input"
        type="radio"
        name="paymentmethod"
        id="paymentmethod"
        value="Fawry"
      />
      <label class="form-check-label" for="paymentmethod">Fawry</label>
    </div>

    <!-- <h2>amount that is about to be donated</h2> -->

    <div [ngSwitch]="paymentmethod">
      <div *ngSwitchCase="'VISA'" class="VISAPayment">
        <h3>Card Number</h3>
        <input type="number" [(ngModel)]="cardnumber" />
        <h3>CCV</h3>
        <input type="number" [(ngModel)]="cardccv" />
      </div>

      <div *ngSwitchCase="'Fawry'" class="FawryPayment">
        <h3>Fawry Number</h3>
        <input type="number" [(ngModel)]="fawrynumber" />
      </div>
    </div>
  </div>
  <!--the click function will retrieve inputted donation info-->
  <button (click)="Donate()" class="btn btn-secondary text-white">
    Donate
  </button>

  <button (click)="Close()" class="btn btn-danger ms-2">Close</button>

  <!--NOTICE: this element should represent amount of money donated to charity later
<p>{{donateamount}}</p>
  -->
</div>
