h2 {
  color: rgb(233, 177, 73);
}
p {
  line-height: 35px;
}

.block-31 .owl-nav {
  position: absolute;
  right: 50px;
  bottom: 130px;
}
.block-31 .owl-nav .owl-prev,
.block-31 .owl-nav .owl-next {
  color: #fff;
  font-size: 20px;
  opacity: 1;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.block-31 .owl-nav .owl-prev:hover,
.block-31 .owl-nav .owl-next:hover {
  opacity: 1;
}

.block-31 .owl-dots {
  position: absolute;
  bottom: 100px;
  right: 50px;
}
.block-31 .owl-dots .owl-dot {
  float: left;
  width: 40px;
  height: 2px;
  background: #fff;
  opacity: 0.3;
}
.block-31 .owl-dots .owl-dot.active {
  opacity: 1;
  background: #fff;
}

.block-30 {
  background-image: url("../../../assets/images/Promote-charity-event-1-768x348.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ccc;
  background-attachment: scroll;
  position: relative;
  background-position: top;
}
@media (max-width: 991.98px) {
  .block-30 {
    background-position: center center !important;
  }
}
.block-30 .author {
  margin-top: 30px;
  font-family: "Overpass", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 16px;
  display: block;
}
.block-30:before {
  background: #000;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.4;
  z-index: 0;
}
.block-30.no-overlay:before {
  display: none;
}
.block-30,
.block-30 .row {
  min-height: 700px;
  height: 100vh;
}
.block-30 .subheading-sm {
  margin-bottom: 30px;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  position: relative;
  display: inline-block;
  font-weight: 300;
}
.block-30 .subheading-sm:after {
  width: 80px;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 120%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  content: "";
}
.block-30 .heading {
  color: #ffffff;
  font-size: 40px;
  line-height: 1.1;
  margin-bottom: 40px;
  font-family: "Dosis", sans-serif;
}
@media (min-width: 768px) {
  .block-30 .heading {
    font-size: 80px;
  }
}
@media (min-width: 992px) {
  .block-30 .heading {
    font-size: 80px;
  }
}
.block-30 .btn {
  background: #fff;
  border-radius: 0;
  border: 2px solid transparent;
  font-size: 14px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #999999;
  -webkit-box-shadow: 0 20px 40px -15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 20px 40px -15px rgba(0, 0, 0, 0.2);
}
.block-30 .btn:hover {
  border-color: #fff;
  color: #fff;
}
.block-30.block-30-sm,
.block-30.block-30-sm .row {
  min-height: 700px;
  height: 70vh;
}
.block-30.block-30-sm .heading {
  font-size: 70px;
  margin-bottom: 20px;
}
.block-30 .lead {
  color: #fff;
}
