<p>
  The project aims to pay off debtors wanted or imprisoned for financial cases,
  and to provide the aftercare that they may need by educating them legally and
  helping them find a source of income, so that the family of the debtor can
  achieve psychological and economic security.
</p>
<p>
  The absence of the father or mother from the family due to imprisonment, or
  his inability to move and work because he is required, makes the family
  vulnerable to economic and educational collapse, and this collapse of course
  will be reflected in society with the spread of poverty, ignorance and crime.
  Therefore, this project came to correct the path of those troubled families.
</p>
