<p>contactformbackend works!</p>

<form [formGroup]="ContactForm" (ngSubmit)="submit()">

  <div>
    Email To Send To:
    <input formControlName="ToEmail" placeholder="Email To Send To" type="text" />
  </div>

  <div>
    Subject:
    <input formControlName="Subject" placeholder="Email" type="text" />
  </div>

  <div>
    Message:
    <input class="MailBody" formControlName="Body" placeholder="type your message" type="text" />
  </div>

  <input type="submit" value="Submit Mail">

</form>

<h2>{{this.mailsent}}</h2>
