.my-pagination ::ng-deep .ngx-pagination .current {
  background: red;
  border-radius: 50px;
}

.my-pagination ::ng-deep .ngx-pagination .pagination-previous.disabled:before {
 background-color: blue;
 display: none;
}

.my-pagination ::ng-deep .ngx-pagination .pagination-next.disabled:after{
    display: none;

}

.CaseList {
  margin: 10px;
  box-shadow: 10px 10px 8px 10px #e5e5e5;
}

