<div class="container">
  <button (click)="assistanceform = !assistanceform" class="btn"></button>

  <div *ngIf="assistanceform">
    <app-addcase></app-addcase>
    <app-file-upload></app-file-upload>
  </div>
  <table class="styled-table m-auto my-4">
    <thead class="text-center">
      <tr>
        <th scope="col">Your Case Status</th>
        <th scope="col">Your Charity</th>
        <th scope="col">Current Amount of Assistance</th>
        <th scope="col">Total Amount Of Debt</th>
      </tr>
    </thead>

    <tbody class="text-center">
      <tr *ngFor="let cases of case">
        <td>{{ case.status }}</td>
        <td>{{ case.charity.name }}</td>
        <td>{{ case.currentAmount }}</td>
        <td>{{ case.totalAmount }}</td>
      </tr>
      <tr></tr>
    </tbody>
  </table>
</div>
