<p>debtorprofile works!</p>


<h3>Case Status</h3>
<h3>{{case.status}}</h3>
<h3>Total Amount of your Debt</h3>
<h3>{{case.totalAmount}}</h3>
<h3>Your Charities</h3>
<h3 *ngFor=" let case of case">{{case.charity.name}}</h3>


<button (click)="assistanceform = !assistanceform">Assistance Form</button>
<button>Contact</button>

<h2>Creditors Requests</h2>
<div class="max-vh-100 d-flex align-items-center justify-content-center mt-3">
  <table class="styled-table">
    <thead>
      <tr class="text-center">
        <th scope="col">Creditor ID</th>
        <th scope="col">Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Address</th>
        <th scope="col">Address</th>
        <th scope="col">Payment Method</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr class="tablerow text-center"
          *ngFor=" let creditor of Creditors | filterbycreditorsbycaseID: caseidtofilter  ">
        <td>{{ creditor.id }}</td>
        <td>{{ creditor.phone }}</td>
        <td>{{ creditor.address }}</td>
        <td>{{ creditor.payment_Account }}</td>
        <td>{{ creditor.status }}</td>
        <td></td>
        <td>
          <button (click)="AcceptCreditor(creditor)">Accept</button>
          <button (click)="RejectCreditor(creditor)">Reject</button>
        </td>
      </tr>
      <tr></tr>
    </tbody>
  </table>
</div>

<div *ngIf="assistanceform">
  <h3>Choose Charity to request</h3>
  <select class="form-control" formControlName="selectedcharity">
    <option value="" disabled selected>Select Charity to apply for</option>
    <option [ngValue]="charities" *ngFor="let charities of Charities">{{charities.name}})</option>
  </select>
  <button (click)="ApplyForAssistance()"></button>

  <app-file-upload></app-file-upload>
</div>
