<section class="text-center text-lg-start fler mt-5 pt-5">
  <div class="container py-4">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div
          class="card cascading-right"
          style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
          "
        >
          <div class="card-body p-5 shadow-5">
            <h2 class="fw-bold mb-5 text-center">Sign up now</h2>
            <form [formGroup]="RegisterUser" (ngSubmit)="register(user)">
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <div>
                      <label>First Name</label>
                      <input
                        formControlName="firstName"
                        placeholder="Enter your first name"
                        type="text"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <div>
                      <label>Last Name</label>
                      <input
                        formControlName="lastName"
                        placeholder="Enter your last name"
                        type="text"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
              </div>

              <!-- user name -->
              <div class="form-outline mb-4">
                <div>
                  <label>User Name</label>
                  <input
                    formControlName="userName"
                    placeholder="Enter your user name"
                    type="text"
                    class="form-control"
                  />
                </div>
              </div>

              <!-- Email input
              <div class="form-outline mb-4">
                <div>
                  <label>Email</label>
                  <input
                    formControlName="EMail"
                    placeholder="Enter your Email"
                    type="email"
                    class="form-control"
                  />
                </div>
              </div>
                -->

              <!-- Password input -->
              <div class="form-outline mb-4">
                <div>
                  <label>Password</label>
                  <input
                    formControlName="password"
                    placeholder="Enter Your Password"
                    type="password"
                    class="form-control"
                  />
                </div>
              </div>

              <!-- Submit button -->
              <div class="text-center d-grid gap-2">
                <!-- <button
      type="button "
      class="btn btn-outline-primary btn-rounded"
    >
      Register Account
    </button> -->

                <button class="btn custom-btn btn-2 btn-lg m-auto">
                  <span> Register Account</span>
                </button>
                <a routerLink="/login" class="text-decoration-none ps-2">
                  You Have Account !
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0">
        <img
          src="../../../assets/images/4100297.jpg"
          class="w-100 rounded-4 shadow-4 bg-danger"
          alt="charity"
        />
      </div>
    </div>
  </div>
</section>
