<p>register works!</p>
<form>
  <label>Email</label>
  <input type="email" name="email" placeholder="E-Mail">
  <label>Password</label>
  <input name="password" placeholder="Password" />
  <label>Phone</label>
  <input type="number" name="phone" placeholder="phone number">
  <label>Name</label>
  <input name="text" placeholder="Name" />
  <img [src]="imgsrc" class="avatar">
  <div>
    <input type="file" id="files" class="filehidden" />
    <label for="files" class="filebutton">Select file</label>
  </div>

</form>
