<p>login-register works!</p>


<div class="LoginPart">
  <form (ngSubmit)="Login()">
    <label>Email</label>
    <input type="text" />
    <label>Password</label>
    <input type="password" />
    <input type="submit" value="Login" />
  </form>
</div>


<div *ngIf="">
  <form>
    <label>Charity Name</label>
    <input type="text" />
    <label>Charity Phone Number</label>
    <input type="number" />
    <label>Charity Email</label>
    <input type="email" />
    <input type="submit" value="register as Charity" />
  </form>
</div>

<div *ngIf="">
  <form>
    <label>Case Name</label>
    <input type="text" />
    <label>Your Case Phone Number</label>
    <input type="number" />
    <label>Charity Email</label>
    <input type="email" />
    <label>Total Debt</label>
    <input type="number" />
    <input type="submit" value="register as Case" />
  </form>
</div>

<div *ngIf="">
  <form>
    <label>Case Name</label>
    <input type="text" />
    <label>Your Case Phone Number</label>
    <input type="number" />
    <label>Charity Email</label>
    <input type="email" />
    <label>Total Debt</label>
    <input type="number" />
    <input type="submit" value="register as Donator" />
  </form>
</div>
