
<button>Generate Report</button>


<div class="max-vh-100 d-flex align-items-center justify-content-center mt-3">
  <table class="styled-table">
    <thead>
      <tr class="text-center">
        <th scope="col">Case ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Description</th>
        <th scope="col">Address</th>
        <th scope="col">Current Amount</th>
        <th scope="col">Total Amount</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr class="tablerow text-center"
          *ngFor="
          let case of Cases
            | paginate : { itemsPerPage: 5, currentPage: p }
        ">
        <td>{{ case.id }}</td>
        <td>{{ case.firstName }}</td>
        <td>{{ case.lastName }}</td>
        <td>{{ case.description }}</td>
        <td>{{ case.address }}</td>
        <td>{{ case.totalAmount }}</td>
        <td>{{ case.phone }}</td>
        <td>{{ case.status }}</td>
        <td></td>
        <td>
          <a [routerLink]="['/viewpaymentplan',case.id]" >Track Case/Payment Plan</a>
        </td>
      </tr>
      <tr></tr>
    </tbody>
  </table>
</div>
