<p>validatecase works!</p>

<p>addcase works!</p>

<form [formGroup]="AddCaseForm" (ngSubmit)="AddCaseToValidate(caseelement,casetoadd)">
  <div>
    FirstName:
    <input formControlName="firstName" placeholder="username" type="text" />
  </div>
  <div>
    LastName:
    <input formControlName="lastName" placeholder="lastname" type="text" />
  </div>
  <div>
    Description:
    <input formControlName="description" placeholder="description" type="text" />
  </div>
  <div>
    Address:
    <input formControlName="address" placeholder="address" type="text" />
  </div>
  <div>
    Amount Needed:
    <input formControlName="amountneeded" placeholder="amountneeded" type="number" />
  </div>
  <div>
    Current Amount:
    <input formControlName="currentamount" placeholder="currentamount" type="number" />
  </div>
  <div>
    Total Amount:
    <input formControlName="totalamount" placeholder="totalamount" type="number" />
  </div>
  <input type="submit" value="Add Case to Validate List">
</form>

<h2>Cases awaiting confirmation</h2>


<table>
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Description</th>
      <th scope="col">Address</th>
      <th scope="col">Current Amount</th>
      <th scope="col">Total Amount</th>
      <th scope="col">Status</th>
      <th scope="col"></th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let case of caseelement | searchFilter: searchText | paginate: { itemsPerPage: 3, currentPage: p}">
      <td>{{ case.firstName }}</td>
      <td>{{ case.lastName }}</td>
      <td>{{ case.description }}</td>
      <td>{{ case.address }}</td>
      <td>{{ case.currentAmount }}</td>
      <td>{{ case.totalAmount }}</td>
      <td>{{ case.phone }}</td>
      <td>
        <button (click)="ConfirmCase(case)">Confirm</button>
      </td>
    </tr>
  </tbody>
</table>
