@font-face {
  font-family: lily;
  src: url(../../../assets/fonts/LilyScriptOne-Regular.ttf);
}
@font-face {
  font-family: Oswald;
  src: url(../../../assets/fonts/Oswald-VariableFont_wght.ttf);
}
@font-face {
  font-family: Raleway;
  src: url(../../../assets/fonts/Raleway-VariableFont_wght.ttf);
}

/* .footer {
  background: #404040;
  padding: 8em 0;
  color: #fff;
}
.footer .heading-section {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 40px;
  letter-spacing: 0.1em;
  color: #fff !important;
  font-family: "Overpass", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}
.footer .block-21 .heading a {
  color: #fff !important;
}
.footer .block-21 .heading a:hover {
  color: #E06C06 !important;
}
.footer .block-21 .meta a {
  color: gray !important;
}
.footer .block-21 .meta a:hover {
  color: #fff !important;
}
.footer a {
  color: #E06C06;
}
.footer a:hover {
  color: #E06C06 !important;
}

.ftco-footer-social li {
  list-style: none;
  margin: 0 10px 10px 0;
  display: inline-block;
}
.ftco-footer-social li a {
  height: 60px;
  width: 60px;
  display: block;
  float: left;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  position: relative;
}
.ftco-footer-social li a span {
  position: absolute;
  font-size: 26px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.ftco-footer-social li a:hover {
  color: #E06C06;
}

.footer-small-nav > li {
  display: inline-block;
}
.footer-small-nav > li a {
  margin: 0 10px 10px 0;
}
.footer-small-nav > li a:hover,
.footer-small-nav > li a:focus {
  color: #E06C06;
} */
footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(87, 67, 3, 0.9)),
    url(../../../assets/images/img_1.jpg);

  width: 100%;

  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}
i {
  color: #e06c06;
}
.logo {
  width: 35%;
}
.navbar-nav a:hover {
  color: #e06c06;
}
.head {
  font-family: lily;
  color: #e06c06;
}
h2,
h5 {
  font-family: Oswald;
}
p {
  font-family: Raleway;
}

.buttonIn {
  width: 300px;
  position: relative;
}

input {
  margin: 0px;
  padding: 0px;
  width: 100%;
  outline: none;
  height: 50px;
  border-radius: 5px;
  background-color: rgb(22, 22, 22);
  border: #e06c06;
}

button {
  position: absolute;
  top: 0;
  right: 0px;
  z-index: 2;
  border: none;
  height: 50px;
  cursor: pointer;
  color: white;
  background-color: #e06c06;
}
button:hover {
  background-color: rgb(22, 22, 22);
}
::placeholder {
  padding-left: 10px;
}
input:focus {
  outline: none !important;
  border-color: #e06c06;
  box-shadow: 0 0 10px #e06c06;
}
.copy_right {
  background-color: rgba(0, 0, 0, 0.308);
}
hr {
  border: 1px solid #e06c06;
}
.editor:hover {
  color: #e06c06;
  cursor: pointer;
}
.heart {
  color: red;
}
